@tailwind base;
@tailwind components;
@tailwind utilities;
/* src/app/globals.css */
@import "@zoom/meetingsdk/dist/css/bootstrap.css";
@import "@zoom/meetingsdk/dist/css/react-select.css";


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#meetingSDKElement {
  width: 1000px;
  height: 700px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

/* Override styles for Zoom overlays (adjust selectors as needed) */
#meetingSDKElement .zmmtg-chat,
#meetingSDKElement .zmmtg-people,
#meetingSDKElement .zmmtg-panel {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  overflow: auto;
  box-sizing: border-box;
}
